*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header{
    padding-top: 73px;
    padding-bottom: 120px;
    background-color: #014E56;
}



.header-wrapper-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.header-box{
    display: flex;
}

.header-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.header-link{
    text-decoration: none;
    color: #fff;
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.header-button{
    border: none;
    padding-top: 9px;
    padding-right: 33px;
    padding-bottom: 11px;
    padding-left: 32px;
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
}

.header-wrapper-2{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.header-text{
    width: 730px;
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #fff;
}

.header-title{
    font-family: Livvic;
    font-size: 64px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    color: #fff;
}

.hero{
    padding-top: 71px;
    padding-bottom: 160px;
    background-color: #004047;
}

.hero-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hero-title-1{
    font-family: Livvic;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #fff;
    margin-bottom: 70px;
}

.hero-box{
    width: 350px;
    background-color: #012F34;
    padding-top: 44px;
    text-align: center;
}

.hero-title{
    margin-top: 24px;
    font-family: Livvic;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
}

.hero-text{
    font-family: Livvic;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
}

.hero-img{
    margin-bottom: -25px;
    text-align: center;
}

.our{
    padding-top: 114px;
    padding-bottom: 114px;
    background-color: #012F34;
}

.our-wrapper{
    display: flex;
    gap: 80px;
}

.our-title{
    font-family: Livvic;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #fff;
    margin-bottom: 57px;
}

.start{
    padding-top: 76px;
    padding-bottom: 76px;
    background-color: #F67E7E;
}

.start-wrapper{
    display: flex;
    justify-content: space-between;
}

.start-title{
    font-family: Livvic;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.start-button{
    border: none;
    border: 3px solid #000;
    background-color: transparent;
    border-radius:40px;
    padding-top: 9px;
    padding-right: 33px;
    padding-bottom: 11px;
    padding-left: 32px;
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #012F34;
}

.footer{
    padding-top: 48px;
    padding-bottom: 38px;
    background-color: #002529;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-box{
    display: flex;
    gap: 16px;
}

.burger{
    display: none;
}

.close-img{
    display: none;
}

@media (max-width: 1110px) {
    .our-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 1010px) {
    .header-wrapper-2{
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .header-text{
        text-align: center;
    }

    .hero-wrapper{
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
}

@media (max-width:810px) {
    .header-text{
        width: 460px;
    }

    .start-title{
        font-size: 32px;
    }
}

@media (max-width: 560px) {
    .burger{
        display: block;
    }

    .header-list{
        width: 255px;
        height: 595px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 11;
        flex-direction: column;
        background-color: #2c6269;
        padding-top: 100px;
        align-items: start;
        padding-left: 40px;

        transform: translateX(100%);
        transition: .5s;
    }

    .header{
        position: relative;
        z-index: 12;
        overflow: hidden;
    }

    .close-img{
        display: block;
        position: absolute;
        top: 35px;
        right: 25px;
    }

    .header-show {
        transform: translateX(0%);
        transition: .5s;
    }

    .start-wrapper{
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .start-title {
        text-align: center; 
    }

    .footer-wrapper{
        flex-direction: column;
        gap: 24px;
    }

    .header-text{
        width: 330px;
        font-size: 15px;
    }
}